@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-image: linear-gradient(to bottom, rgba(12, 12, 12, 0.52), rgba(8, 8, 8, 0.73)), url(../../imgs/hero_1.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    .nav__left{
        color: rgb(255, 255, 255);
        font-size: 21px;
        font-weight: 900;
    }
    .nav__middle{
        display: flex;
        justify-content: center;
        .link{
            text-decoration: none;
            color: rgb(255, 255, 255);
            padding: 10px;
            font-size: 18px;
        }
        
    }
    .nav__right{
        button{
            border: none;
            padding: 10px 20px;
            background-color: rgb(79, 69, 227);
            border-radius: 20px;
            color: white;
            font-weight: 800;
        }
    }
    .nav__text{
        position: absolute;
        left: 20%;
        top: 30%;
        h1{
            color: white;
            font-size: 40px;
        }
        p{
            color: rgb(219, 219, 219);
            font-weight: 400;
            font-size: 18px;
            width: 700px;
            padding: 30px 0px;
            line-height: 2;
        }
        button{
            border: none;
            background-color: rgb(104, 95, 224);
            color: white;
            padding: 20px 50px;
            border-radius: 30px;
            font-weight: 900;
        }

    }
    .nav__form{
        position: absolute;
        top: 25%;
        left: 60%;
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 40px;
        border-radius: 10px;
        p{
            font-size: 25px;
            padding-bottom: 30px;
        }
        input{
            padding: 10px;
            margin: 10px 0px;
            width: 400px;
        }
        button{
            width: 150px;
            border: none;
            background-color:rgb(104, 95, 224);
            color: white;
            font-weight: 700;
            padding:  20px 30px;
            border-radius: 30px;margin-top: 20px;
        }
    }
}
